<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tar.web.board.dao.SettingDao">

	<select id="getPh" resultType="map">
		select
			*
		from
			setting_ph
	</select>

	<select id="pwdChecker" resultType="map">
		select
		    *
		from
		    setting
		where
		    set_key = 'adminPwd'
			and
		    set_val = #{pwd}
	</select>

	<select id="getPhInfo" resultType="map">
		select
		    *
		from
		    setting_ph
	</select>

	<update id="updatePh">
		update
			setting_ph
		set
		    ph = #{ph}
		where
		    target = #{target}
	</update>

	<select id="chkAdmin" resultType="int">
		select
		    count(*)
		from
		    setting
		where
		    set_key = 'adminPwd'
			and
		    set_val = #{pwd}
	</select>

	<select id="selectTodayAccess" resultType="int">
		select	count(*)
		from	access_ip
		where	ip_addr = #{ip}
			and access_dt = str_to_date(now(), '%Y-%m-%d')
	</select>

	<insert id="insertAccessIp">
		insert into access_ip
		values (
		        #{ip}
		    ,	now()
		)
	</insert>

	<update id="updateAccessIp">
		update  access_ip
		set		access_dt = now()
		where	ip_addr = #{ip}
	</update>

	<select id="getAccessCnt" resultType="int">
		select	count(*)
		from	access_ip
		where	access_dt = str_to_date(now(), '%Y-%m-%d')
	</select>
</mapper>